.container {
  flex: 1;
  overflow-x: auto;
  overflow-y: hidden;
  scroll-snap-type: x mandatory;
  -webkit-overflow-scrolling: touch;
  scrollbar-width: thin;
}

.chart {
  display: flex;
  min-width: max-content;
  padding: var(--padding-sm);
  gap: 2px;
}
